</br>
</br>
</br>
<p id="notice"><%= notice %></p>
<table class="table">
	<tr>
		<th>Trainee Name</th>
		<th>Course Name</th>
		<th>status</th>
		<th>Email</th>
		<th>Assign Date</th>
	</tr>
	<tr>
		<td><%= @trainee.trainee_name%></td>
		<td><%= @trainee.course.course_name%></td>
		<td><%= @trainee.status%></td>
		<td><%= @trainee.trainee_email%></td>
		<td><%= @trainee.assign_date%></td>
	</tr>
</table>
<%= link_to 'Edit', edit_trainee_path(@trainee) %> 
<%= link_to 'Trainee', trainees_path %>
<%= link_to 'Home', root_path %>
