
<html>
<title>New Course</title>

<body>
<div class="container" >

<%= form_with(model: course, local: true , html: {class: "form-horizontal"}) do |form| %>
  <h3>New Course</h3>
  <% if course.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(course.errors.count, "error") %> prohibited this course from being saved:</h2>

      <ul>
      <% course.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  
  <div class="form-group">
      <label class="control-label col-sm-4">Course Name:</label>
      <div class="col-sm-5">
        <%= form.text_field :course_name,class: "form-control",placeholder:"Enter Course Name" %>
      </div>
   </div>

  <div class="form-group">
      <label class="control-label col-sm-4">Start Date:</label>
      <div class="col-sm-5">
        <%= form.date_field:start_date,class: "form-control" %>
      </div>
   </div>
   
    <div class="form-group">
      <label class="control-label col-sm-4">End Date:</label>
      <div class="col-sm-5">
        <%= form.date_field:end_date,class: "form-control" %>
      </div>
   </div>
 
   <div class="form-group">        
      <div class="col-sm-offset-7 col-sm-2">
        <%= form.submit "Create",class:"btn btn-primary btn-lg btn-block login-button"%>
	  </div>
    </div>
   
<% end %>
</div>
</body>
</html>
